@model OnlineScoping.ViewModels.CustomerViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-top">
    <div class="row">
        <div class="col-md-3">
            <h3 class="pt-3">
                Create Customer
            </h3>
        </div>
        <div class="col-md-9 text-right">
            <nav class="breadcrumb-two" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item "><a href="/Customers">Customers</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="#">Create Customer</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<hr />
<div class="box box-shadow widget-content-area col-md-8">
    <form asp-action="Create">
        <div class="row">
            @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
            <div class="col-md-12 d-md-flex">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-md-flex">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="TempUserName" class="control-label"></label>
                        <input asp-for="TempUserName" class="form-control" />
                        <span asp-validation-for="TempUserName" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="col-md-12 d-md-flex">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="Client" class="control-label">Client Name</label>
                        <input asp-for="Client" class="form-control" />
                        <span asp-validation-for="Client" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="Address1" class="control-label"></label>
                        <input asp-for="Address1" class="form-control" />
                        <span asp-validation-for="Address1" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-12 d-md-flex">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="MobileNumber" class="control-label"></label>
                        <input asp-for="MobileNumber" class="form-control" />
                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="Address2" class="control-label"></label>
                        <input asp-for="Address2" class="form-control" />
                        <span asp-validation-for="Address2" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-md-flex">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="State" class="control-label"></label>
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-md-flex">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="Country" class="control-label"></label>
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="Zip" class="control-label"></label>
                        <input asp-for="Zip" class="form-control" />
                        <span asp-validation-for="Zip" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-12 d-md-flex">            
                <div class="col-md-12">
                    @if (User.IsInRole("Admin"))
                    {
                    <div class="form-group">
                        <label asp-for="CreatedBy" class="control-label"></label>
                        <select asp-for="CreatedBy"
                                class="form-control"
                                asp-items="@(new SelectList(Model.SalseList, "CustomerId", "Name"))">
                            <option value="00000000-0000-0000-0000-000000000000" disabled>Please select</option>
                        </select>
                        <span asp-validation-for="CreatedBy" class="text-danger"></span>

                    </div>
                    }
                </div>
            </div>

            <div class="col-12">
                <div class="form-group col-md-12">
                    <input type="submit" value="Create and send e-mail" class="btn btn-primary" /> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade bd-example-modal-lg" id="ModalCustomer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Send Email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <p class="modal-text">Customer account has been created now please send an activation e-mail.</p>

                <a asp-action="Index">Back to List</a> |
                <a asp-action="SendMail" class="btn btn-primary" asp-route-id="@Model.CustomerId">Send </a>

            </div>


        </div>
        </div>
</div>
@if (Model.msg == true)
{
    <script>
        function modalcustomer () {

     $("#ModalCustomer").modal('show');
    }
    </script>
}
else
{
    <script>
        function modalcustomer() {

    }
    </script>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        modalcustomer();

        $("#LastName").focusout(function () {
            var FName = $("#FirstName").val();
            var LName = $("#LastName").val();
            $("#TempUserName").val("" + FName + "" + LName + "");
        });
    });
</script>
}
