@model OnlineScoping.ViewModels.ReceivedProposalModel
@{
    ViewData["Title"] = "RequestProposal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-top">

    <div class="row">
        <div class="col-md-4">
            <h3 class="pt-3">
                <span>Create/Request Scope</span>
            </h3>
        </div>
        <div class="col-md-5" style="margin-left: -55px;">
            <nav class="breadcrumb-two" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="#"> Create/Request Scope</a></li>
                </ol>
            </nav>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-primary ml-3 mt-3" asp-controller="Home" asp-action="Index">Create Scope Requests</a>
        </div>
    </div>
</div>

<div class="layout-px-spacing">

    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-table-two Customer-scroll">
                <div class="widget-heading row">

                    @*<div class="col-md-12 text-right">
                            <a asp-action="Create" class="btn btn-primary ml-3 mt-3">Create New</a>
                        </div>*@

                </div>

                <div class="widget-content">
                    <div class="table-responsive">
                        <table class="table  table-hover table-striped table-checkable table-highlight-head" summary="Customer Requests List">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="text-center msgicon">Is Accepted</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.CustomerRequestsList.Count == 0)
                                {
                                    <tr>
                                        <td colspan="2" class="text-left pl-2">No data available</td>
                                    </tr>
                                }
                                else
                                {
                                    @foreach (var item in Model.CustomerRequestsList)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProjectName)
                                            </td>
                                            <td class="text-center msgicon">
                                                @if (item.IsAccept)
                                                {
                                                    <em style="color:green" class="fas fa-check"></em>
                                                }
                                                else
                                                {
                                                    <em style="color:red" class="fas fa-times"></em>
                                                }
                                            </td>
                                        </tr>
                                    }

                                }


                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




